<div class="hs-cookie-policy shadow d-none">
  <div class="hs-cookie-policy-inner">
    <div class="purple">
      Ao usar o Hospedin, você concorda com nossa <a href="/cookies" target="_blank" rel="noreferrer noopener">Política de Cookies</a>.
    </div>
    <button class="btn btn-sm btn-yellow">
      Aceito
    </button>
  </div>
</div>
