<div class="plan-wrap" id="module-central">
  <div class="bg-gray-blue plans-header">
    <span class="purple small">
      Tenha a disposição as ferramentas essenciais para um bom controle de central de reservas.
    </span>
  </div>
  <div class="row px-4 plans-list">
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="clipboard"></i>
        <span>Formulário de pré-reservas *</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="check-circle"></i>
        <span>Check-in online *</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="calendar"></i>
        <span>Mapa com disponibilidade dos hóspedes *</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="list"></i>
        <span>Regulamento do estabelecimento *</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="message-square"></i>
        <span>Chatbot *</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="message-circle"></i>
        <span>Chat no site *</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="facebook"></i>
        <span>Chat no facebook *</span>
      </div>
    </div>
  </div>
</div>
