<div class="plan-wrap" id="module-crm">
  <div class="bg-gray-blue plans-header">
    <span class="purple small">
      Voltado pra hotéis que organizam práticas e estratégias que focam no relacionamento do cliente.
    </span>
  </div>
  <div class="row px-4 plans-list">
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="bar-chart-2"></i>
        <span>Indicadores e métricas dos hóspedes *</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="mail"></i>
        <span>Envio automatizado de emails *</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="send"></i>
        <span>Configuração de respostas inteligentes *</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="message-square"></i>
        <span>Central de mensagens *</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="file-text"></i>
        <span>Envio de vouchers por e-mail limitado a 150/mês *</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="star"></i>
        <span>Avaliação de hóspedes *</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="facebook"></i>
        <span>Visualizar redes sociais dos hóspedes *</span>
      </div>
    </div>
  </div>
</div>
