<div class="plan-wrap" id="module-financeiro">
  <div class="bg-gray-blue plans-header">
    <span class="purple small">
      Controle as finanças do jeito certo e com a agilidade que só os melhores sistemas financeiros oferecem.
    </span>
  </div>
  <div class="row px-4 plans-list">
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="repeat"></i>
        <span>Gestão de receitas e despesas</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="user"></i>
        <span>Gestão de caixas por usuários</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="dollar-sign"></i>
        <span>Gestão de contas bancárias</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="refresh-cw"></i>
        <span>Receitas e despesas recorrentes</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="tag"></i>
        <span>Categorias e subcategorias de transações</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="upload"></i>
        <span>Conciliação bancária *</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="pie-chart"></i>
        <span>Relatório financeiro</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="user-plus"></i>
        <span>Controle de comissão por funcionário *</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="award"></i>
        <span>Controle de comissão por canal *</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="calendar"></i>
        <span>DRE *</span>
      </div>
    </div>
  </div>
</div>
