<div class="plan-wrap" id="module-gov">
  <div class="bg-gray-blue plans-header">
    <span class="purple small">
      Agilize e <b>controle a governança</b> do seu estabelecimento de maneira prática e eficaz.
    </span>
  </div>
  <div class="row px-4 plans-list">
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="list"></i>
        <span>Lista de UHs por situação *</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="plus-circle"></i>
        <span>Lançamentos no frigobar *</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="log-out"></i>
        <span>Liberação do check-out *</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="bar-chart-2"></i>
        <span>Indicador de produtividade por camareira *</span>
      </div>
    </div>
  </div>
</div>
