<div class="plan-wrap active" id="module-hospedin">
  <div class="bg-gray-blue plans-header">
    <span class="purple small">
      Essencial para você que está saindo das planilhas ou fichas de papel e necessita apenas de recursos básicos.
    </span>
  </div>
  <div class="row px-4 plans-list">
    
    <div class="col-12 col-lg-4 py-4 my-0 my-lg-1">
      <div class="plan-item">
        <i data-feather="map"></i>
        <span>Mapa de Reservas</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-0 my-lg-1">
      <div class="plan-item">
        <i data-feather="home"></i>
        <span>Gestão de UHs</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-0 my-lg-1">
      <div class="plan-item">
        <i data-feather="calendar"></i>
        <span>Gestão de reservas</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-0 my-lg-1">
      <div class="plan-item">
        <i data-feather="users"></i>
        <span>Gestão de hóspedes e acompanhantes</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-0 my-lg-1">
      <div class="plan-item">
        <i data-feather="credit-card"></i>
        <span>Gestão de recebimentos</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-0 my-lg-1">
      <div class="plan-item">
        <i data-feather="shopping-cart"></i>
        <span>Gestão de produtos e serviços</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-0 my-lg-1">
      <div class="plan-item">
        <i data-feather="user-check"></i>
        <span>Gestão dos usuários</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-0 my-lg-1">
      <div class="plan-item">
        <i data-feather="lock"></i>
        <span>Permissões de usuários por departamentos</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-0 my-lg-1">
      <div class="plan-item">
        <i data-feather="tag"></i>
        <span>Categorização das UHs</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-0 my-lg-1">
      <div class="plan-item">
        <i data-feather="file-text"></i>
        <span>Ficha de registro (FNRH)</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-0 my-lg-1">
      <div class="plan-item">
        <i data-feather="file"></i>
        <span>Voucher e recibos</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-0 my-lg-1">
      <div class="plan-item">
        <i data-feather="book-open"></i>
        <span>Histórico de estadias dos hóspedes</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-0 my-lg-1">
      <div class="plan-item">
        <i data-feather="dollar-sign"></i>
        <span>Conta bancária única</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-0 my-lg-1">
      <div class="plan-item">
        <i data-feather="activity"></i>
        <span>Histórico de atividades dos últimos 10 dias</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-0 my-lg-1">
      <div class="plan-item">
        <i data-feather="map-pin"></i>
        <span>Preenchimento automático do endereço</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-0 my-lg-1">
      <div class="plan-item">
        <i data-feather="upload-cloud"></i>
        <span>Importação de dados</span>
      </div>
    </div>
    
  </div>
</div>
