<div class="plan-wrap" id="module-plus">
  <div class="bg-gray-blue plans-header">
    <span class="purple small">
      Mais recursos e produtividade para o seu dia a dia, ideal para estabelecimentos experientes e com boa gestão.
    </span>
  </div>
  <div class="row px-4 plans-list">
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="bar-chart-2"></i>
        <span>Indicadores e métricas de gestão</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="dollar-sign"></i>
        <span>Tarifário avançado</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="users"></i>
        <span>Reservas em grupo</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="unlock"></i>
        <span>Permissão de usuários personalizados</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="award"></i>
        <span>Controle manual dos canais de vendas</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="map-pin"></i>
        <span>Gestão dos pontos de venda</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="sun"></i>
        <span>Gestão de day use</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="briefcase"></i>
        <span>Gestão de empresas</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="tag"></i>
        <span>Categorização de produtos e serviços *</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="shopping-cart"></i>
        <span>Produtos e serviços por ponto de venda</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="archive"></i>
        <span>Controle de estoque</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="list"></i>
        <span>Agenda de tarefas *</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="bell"></i>
        <span>Lembretes de limpeza *</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="bell"></i>
        <span>Lembretes de hóspede *</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="mail"></i>
        <span>Envio de vouchers (150 e-mails / mês)</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="activity"></i>
        <span>Histórico de atividades dos últimos 30 dias</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="pie-chart"></i>
        <span>Relatório de ocupação</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="pie-chart"></i>
        <span>Relatório de vendas</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="pie-chart"></i>
        <span>Relatório de consumo</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="download-cloud"></i>
        <span>Exportação de dados</span>
      </div>
    </div>
  </div>
</div>
