<div class="plan-wrap" id="module-restaurante">
  <div class="bg-gray-blue plans-header">
    <span class="purple small">
      Várias Integrações com sistemas e recursos que aumentam a sua produtividade e de seus colaboradores.
    </span>
  </div>
  <div class="row px-4 plans-list">
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="trending-up"></i>
        <span>Motor de reservas (Booking Engine)</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="share-2"></i>
        <span>Channel Manager (Gestor de Canais)</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="file"></i>
        <span>Emissão de Notas Fiscais (NFS-e) *</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="send"></i>
        <span>Automação de marketing *</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="phone-call"></i>
        <span>Tarifador telefônico *</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="credit-card"></i>
        <span>Meios de recebimentos *</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="clipboard"></i>
        <span>SNRHos (FNRH do MTur) *</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="message-circle"></i>
        <span>Chats *</span>
      </div>
    </div>
    <div class="col-12 col-lg-4 py-4 my-1">
      <div class="plan-item">
        <i data-feather="message-square"></i>
        <span>Chatbots *</span>
      </div>
    </div>
  </div>
</div>
