<%= title "Hospedin - Política de Cookies Hospedin" %>
<%= meta_description "A política de cookies é aplicável para toda a informação coletada pela Hospedin" %>
<%= navbar_option('bg-purple color-fixed') %>

<section class="padding-y-fixed">
  <div class="container dark-purple">
    <h1 class="h1 text-center text-uppercase">Política de Cookies Hospedin</h1><br>

    <p>Esta política de cookies é aplicável para toda a informação coletada pela Hospedin e tem como proposta fornecer a você informações sobre a coleta, uso, manutenção e divulgação das suas informações coletadas.</p>

    <h3>O que são cookies?</h3>

    <p>Conforme disposto em nossa <%= link_to 'Política de Privacidade', privacy_path, target: '_blank' %>, cookies são arquivos de texto pequenos que armazenam algumas informações  e preferências salvos em seu dispositivo, e podem auxiliar na personalização de publicidade. Quando um cookie é armazenado no disco rígido do computador, na próxima vez que você visitar o mesmo website, nós poderemos reconhecê-lo.</p>

    <h3>Como cookies são usados?</h3>

    <p>Quando você visualiza websites com o nosso domínio, imediatamente são armazenadas algumas informações, na forma de cookies no seu computador.</p>
    <p>Esses cookies são usados para permitir o seu acesso à certos recursos no website e para mostrar conteúdo personalizado.</p>

    <h3>Performance dos Cookies</h3>

    <p>Performance dos cookies é usada para identificar você das suas visitas anteriores. Eles irão também permitir que a Hospedin veja como você interage com o website.</p>
    <p>Essa informação vai nos ajudar a otimizar sua experiência e facilitar sua navegação. Performance dos cookies não coletam informações que identifiquem você.</p>

    <h3>Cookies Funcionais</h3>

    <p>A Hospedin pode, adicionalmente, usar os cookies visando melhorar sua visita. Cookies Funcionais gravam configurações específicas que você aplicou e/ou respostas de quizzes e avaliações.</p>

    <h3>Desativação de cookies</h3>

    <p>Se você não deseja ter cookies adicionais, além destes descritos acima como Cookies Estritamente Necessários, inseridos em seu computador, então você não conseguirá usar o site da Hospedin e/ou fazer uso dos nossos materiais.</p>
    <p>Para apagar quaisquer Cookies que já foram inseridos no seu computador, você pode removê-los do seu disco rígido consultando as instruções do navegador ou a tela de ajuda.</p>
    <p><strong>Aviso:</strong> certos websites e/ou funcionalidades de website podem não funcionar caso você desative ou os cookies estejam bloqueados.</p>

    <h3>Aviso Legal</h3>

    <p>O Hospedin é um provedor de SaaS <i>(Software as a Service)</i> e não controla ou é responsável, de nenhuma forma, pelo uso que os nossos clientes fazem com as informações pessoais coletadas por eles.</p>

    <h3>Mudanças</h3>

    <p>A Hospedin se reserva o direito de modificar sua política de cookies a qualquer momento. Caso haja mudança, todos os usuários de nossos serviços serão avisados via e-email ou pelo nosso site.</p>

    <h3>Dúvidas</h3>

    <p>Qualquer dúvida sobre a nossa Política de Cookies pode ser enviada para <a href="mailto:contato@hospedin.com">contato@hospedin.com</a>.</p>

  </div>
</section>
