<%= title "Hoteleiros em Ação - Hospedin" %>
<%= navbar_option('bg-blue') %>

<div class="container padding-y-fixed dark-purple text-poppins">
  <h1 class="text-center" style="font-size: 350%;">HOTELEIROS EM AÇÃO</h1>
  <h2 class="text-center font-weight-light" style="font-size: 133%">
    Um guia completo para enfrentar uma crise na hotelaria
  </h2>

  <div class="row my-5">
    <div class="col-md-3 d-none d-md-block sidebar">
      <div class="sidebar-sticky sticky-top">
        <ul class="nav flex-column dark-purple ">
          <li class="nav-item">
            <a href="#intro" class="nav-link text-reset" data-scroll>
              <i data-feather="chevron-right"></i>
              Intro
            </a>
          </li>

          <li class="nav-item">
            <a href="#covid-19" class="nav-link text-reset" data-scroll>
              <i data-feather="chevron-right"></i>
              Covid-19
            </a>
          </li>

          <li class="nav-item">
            <a href="#crisis" class="nav-link text-reset" data-scroll>
              <i data-feather="chevron-right"></i>
              Crise hoteleira
            </a>
          </li>

          <li class="nav-item">
            <a href="#guest" class="nav-link text-reset" data-scroll>
              <i data-feather="chevron-right"></i>
              Hóspede
            </a>
          </li>

          <li class="nav-item">
            <a href="#collaborator" class="nav-link text-reset" data-scroll>
              <i data-feather="chevron-right"></i>
              Colaborador
            </a>
          </li>

          <li class="nav-item">
            <a href="#financial" class="nav-link text-reset" data-scroll>
              <i data-feather="chevron-right"></i>
              Financeiro
            </a>
          </li>

          <li class="nav-item">
            <a href="#operational" class="nav-link text-reset" data-scroll>
              <i data-feather="chevron-right"></i>
              Operacional
            </a>
          </li>

          <li class="nav-item">
            <a href="#marketing" class="nav-link text-reset" data-scroll>
              <i data-feather="chevron-right"></i>
              Marketing
            </a>
          </li>

          <li class="nav-item">
            <a href="#support" class="nav-link text-reset" data-scroll>
              <i data-feather="chevron-right"></i>
              Apoio
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-9 ml-sm-auto px-4">
      <p class="gray text-right" style="font-size: 70%;"><span >versão 1.0 | 2020 | Covid-19</p>

      <h2 id="intro" class="mb-5">Intro</h2>

      <p>No sentido literal, a palavra crise significa “estado de incerteza”, “episódio desgastante” ou “situação de tensão”.</p>

      <p>Perceba que todas as definições têm algo em comum: <strong>crise não é permanente</strong>. E foi por isso que usamos uma outra palavra-chave importante no título deste material: <strong>enfrentar</strong>.</p>

      <p>O enfrentamento nos remete a uma ação que pode resultar em sucesso ou fracasso. E neste caso, o resultado depende muito mais de nós do que de terceiros.</p>

      <p>Portanto, <strong>vamos enfrentar, junto com você, essa grande crise hoteleira</strong> que bateu na nossa porta recentemente.</p>

      <p>Este guia foi pensado para lhe orientar, despertar novas ideias e trazer informações importantes para o momento.</p>

      <p>Além disso, nós o dividimos em “TIMES” e no decorrer da leitura você perceberá que <strong>pode contar com muitas pessoas</strong> para superar uma crise e restabelecer o seu negócio, mantendo-o mais forte do que nunca.</p>

      <h2 id="covid-19" class="mt-5 mb-5">Covid-19</h2>

      <p>Não seria coerente iniciar este guia sem falar um pouco sobre o protagonista dessa crise: o Covid-19.</p>

      <p>O <strong>Coronavírus</strong> é, na verdade, uma família de vírus altamente prejudicial a saúde e ligados às patologias respiratórias, como resfriados e pneumonias.</p>

      <p>Até hoje, já foram descobertos mais de 6 tipos diferentes de Coronavírus, sendo que o último a se manifestar na China, em dezembro de 2019, foi nomeado de Covid-19 (novo Coronavírus de 2019).</p>

      <p>A maior preocupação com o Covid-19 é a sua capacidade de contágio, devido a facilidade de transmissão, assim como, uma gripe comum.</p>

      <p>Por conta disso, muita coisa mudou em pouco tempo.</p>

      <p>De uma semana para outra nós passamos a receber <strong>orientações de quarentena</strong>, o Governo Federal começou a elaborar medidas para ajudar a economia e muitas informações foram publicadas na internet a respeito desse momento de crise.</p>

      <p>Momento este que explodiu por conta de uma doença nova e super contagiosa. Ou seja, tivemos que aprender a lidar com ela do zero.</p>

      <p>E por outro lado, nós vivemos uma época em que as fronteiras estão abertas, as pessoas viajam mais e a economia flui entre os países. É sim um momento muito bacana e próspero, mas junto com ele também surgem adversidades a exemplo do que aconteceu com o Coronavírus.</p>

      <p>A China faz negócios com diversos países e é um país extremamente populoso. O surgimento de um vírus inédito neste ambiente, é perfeito para se espalhar como poeira no vento.</p>

      <p>As orientações, medidas e decretos que foram lançados nos últimos dias, têm por objetivo <strong>evitar que o vírus atinja um grande número de pessoas</strong> que, por sua vez, venham a precisar do sistema de saúde, público ou não. No Brasil, não teríamos condições adequadas para atender e tratar uma possível epidemia do Coronavírus.</p>

      <p>E foi assim que uma nova doença abalou nossa saúde, mexeu com nosso psicológico, atrapalhou a economia dos países e <strong>desestabilizou o mercado hoteleiro</strong>.</p>

      <h2 id="crisis" class="mt-5 mb-5">A CRISE HOTELEIRA E OS TIMES QUE VÃO LHE AJUDAR A VENCÊ-LA</h2>

      <p>Muitos negócios foram impactados negativamente por essa <a href="http://blog.hospedin.com/crise-economica-5-dicas-para-mante-la-longe-de-sua-pousada/?utm_source=landing-page&utm_medium=covid-19" target="_blank">crise</a>, assim como os meios de hospedagem.</p>

      <p>É inegável que o <strong>mercado de hotelaria e turismo</strong> viu suas reservas mergulharem em queda livre, já que as pessoas foram orientadas a permanecer em casa para evitar a disseminação vertiginosa dessa doença crítica.</p>

      <p>Nós fazemos parte desse mercado e nos compadecemos dos nossos clientes, buscando formas de ajudá-los o mais breve possível.</p>

      <p>Esse material é resultado de um <strong>esforço em equipe</strong> e foi feito para levar um pouco de tranquilidade e paciência neste momento tenso. Além de buscar <strong>eclodir a esperança</strong> (natural dos brasileiros) de que logo teremos superado esse momento para voltar às nossas atividades normais.</p>

      <p>Mas enquanto isso, aproveite este guia para colocar algumas ações em prática a fim de manter o seu negócio preparado para o momento em que as reservas voltarão a todo vapor.</p>

      <p>Afinal, <strong>as pessoas vão continuar viajando</strong> e depois de um momento difícil como este, alguns dias de lazer serão mais do que bem-vindos.</p>

      <p>Dito isso, vamos conhecer os TIMES que enfrentarão essa crise hoteleira junto com você.</p>

      <p>Os TIMES são uma maneira que encontramos para falar sobre as <strong>principais iniciativas que você precisa ter dentro do hotel em um momento de crise</strong>, ou seja, em qual área e de que forma você pode atuar.</p>

      <p>Sendo assim, temos 6 TIMES neste guia: hóspede, colaborador, financeiro, operacional, marketing e apoio.</p>

      <p>Vamos a eles:</p>

      <h2 id="guest" class="mt-5 mb-5">HÓSPEDE</h2>

      <p>Recentemente escrevemos <a href="https://www.instagram.com/p/B9__yiRBvBD/" target="_blank">um post nas redes sociais</a> falando sobre a <strong>crise do cancelamento</strong>. Mais do que a queda no número das reservas, houve um aumento gigantesco nos pedidos de cancelamento por conta do Coronavírus, algo em torno de 300%.</p>

      <p>Acontecimentos desse tipo não estão sob o nosso controle (aliás, ninguém tem controle de algo assim), portanto precisamos ser ágeis para responder ao momento.</p>

      <p>O cancelamento já é um problema para o hoteleiro em épocas normais, contudo quando se trata de uma nova doença com grande poder de contágio, a situação fica ainda pior.</p>

      <p>Sendo assim, diante dos <strong>pedidos de cancelamento</strong> adote medidas do tipo:</p>

      <h3 class="mt-4 mb-4">Tente negociar com o hóspede</h3>

      <p>Se ele pedir o cancelamento, ofereça um crédito válido por 12 meses ou tente remarcar a estadia para o segundo semestre do ano. Caso ele não se sinta motivado a remarcar, você ainda pode oferecer um plus, diante das suas possibilidades, como por exemplo, um upgrade no quarto, um jantar especial, uma passeio bacana e por aí vai.</p>

      <p>Desta forma, você não descapitaliza o seu caixa e garante as reservas para quando a crise passar.</p>

      <p>Mas se o hóspede desejar cancelar mesmo assim, e pedir o reembolso, cogite devolver considerando toda a situação.</p>

      <p>Para lhe ajudar nessa missão, nós elaboramos uma <strong>carta de vendas</strong> que você pode utilizar na sua comunicação com o hóspede ao negociar o cancelamento.</p>

      <h4 class="mt-4 mb-4">ANEXO I</h4>

      <p><strong>Carta para enviar ao hóspede:</strong> utilize quando você tiver um <a href="http://blog.hospedin.com/e-mail-marketing-para-hoteis-e-pousadas/?utm_source=landing-page&utm_medium=covid-19" target="_blank">contato de e-mail</a> ou telefone do hóspede e adapte-a à realidade do seu estabelecimento. Essa é somente uma sugestão de roteiro.</p>

      <hr class="mt-5 mb-5"/>

      <div class="gray">
      <i>
      <p>
        Oi [nome do hóspede], tudo bem?
      </p>

      <p>Aqui é o (a) [seu nome], do (a) [nome do seu estabelecimento].</p>

      <p>O seu <strong>pedido de cancelamento</strong> é genuíno e vamos seguir com ele. Contudo, peço um minuto da sua atenção para que possamos juntos, chegar a uma <strong>solução ainda melhor</strong>.</p>

      <p>Tudo bem por você?</p>

      <p>Eu sei que você pode estar assustado (a) com toda essa situação e, acima de tudo, devemos resguardar nossa saúde e a saúde das pessoas que amamos. Essa também é a nossa missão neste momento.</p>

      <p>No entanto, confiante de que esse momento difícil vai acabar, antes do que se possa imaginar, tomo a liberdade de lhe fazer uma <strong>proposta</strong>.</p>

      <p>O que você pensa sobre <strong>remarcar a sua reserva ao invés de cancelá-la?</strong> Desta forma, você mantém a <strong>prioridade</strong> no nosso estabelecimento garantindo a sua estadia quando tudo voltar ao normal.</p>

      <p>[você pode falar das datas disponíveis]</p>

      <p>E para que você se sinta um pouco mais seguro quanto ao futuro, fizemos alguns ajustes na nossa política de cancelamento. Veja:</p>

      <p>[aponte seus principais pontos de flexibilização]</p>

      <p>Deixe-me saber se podemos <strong>postergar a sua reserva ao invés de cancelar</strong>. Se a resposta for positiva, escolha a data que fica melhor para você.</p>

      <p>Caso contrário, peço que sinalize o interesse em seguir com o cancelamento, por gentileza.</p>

      <p>Muito obrigado (a) e até mais!</p>
      </i>
      </div>

      <hr class="mt-5 mb-5"/>

      <h3 class="mt-4 mb-4">Revise a sua política de cancelamento</h3>

      <p>Esse é um momento oportuno para <strong>flexibilizar sua <a href="http://blog.hospedin.com/politica-de-cancelamento-de-reservas-hotel/?utm_source=landing-page&utm_medium=covid-19" target="_blank">política de cancelamento</a></strong> oferecendo garantias para quem mantiver as reservas para uma data futura ou para quem desejar fazer novas reservas para datas futuras.</p>

      <p>Deixe que as pessoas saibam dessa flexibilização, pois é uma forma de incentivo que vai beneficiar ambos os lados. Utilize o <a href="http://blog.hospedin.com/marketing-hoteleiro/?utm_source=landing-page&utm_medium=covid-19" target="_blank">marketing digital</a> ou o e-mail marketing para se comunicar com os clientes.</p>

      <h3 class="mt-4 mb-4">Cuide da sua comunicação com o hóspede</h3>

      <p>Devido ao motivo da crise, esse não é o momento para incentivar que o hóspede vá até o seu estabelecimento. Neste caso, a segurança dele e a da sua equipe estariam em risco.</p>

      <p>Mantenha sua <strong>transparência e empatia</strong> nos canais de comunicação. Não fique chateado com o pedido de cancelamento, mas sim, acolha sabendo que a situação é crítica e o hóspede está tão assustado e inseguro quanto nós.</p>

      <p>Seja pelas <a href="http://blog.hospedin.com/melhores-praticas-de-gerenciamento-de-redes-sociais-para-hoteleiros/?utm_source=landing-page&utm_medium=covid-19" target="_blank">redes sociais</a>, por e-mail ou telefone, <strong>facilite o processo de cancelamento</strong> se essa for a vontade do hóspede. Uma vez que você o tranquiliza, terá abertura para oferecer outras oportunidades como o que já vimos logo acima.</p>

      <p>O mais importante neste momento é cuidar das pessoas ao invés de se preocupar em <a href="http://blog.hospedin.com/5-ideias-para-atrair-mais-reservas/?utm_source=landing-page&utm_medium=covid-19" target="_blank">trazer mais reservas</a>.</p>

      <h2 id="collaborator" class="mt-5 mb-5">COLABORADOR</h2>

      <p>E falando em cuidar dos hóspedes, esse também é o momento de zelar pelos seus colaboradores.</p>

      <p>Quando as receitas caem, chega a necessidade de cortar todo tipo de despesa. E como a folha de pagamento costuma ser uma das despesas mais altas de uma empresa, ela acaba entrando na fila primeiro.</p>

      <p>Mas tenha cuidado! Ao invés disso, procure embasamento antes de tomar qualquer decisão.</p>

      <h3 class="mt-4 mb-4">Não demita, cuide!</h3>

      <p>Se você tiver condições financeiras de manter a <a href="http://blog.hospedin.com/a-importancia-da-equipe-do-hotel-na-satisfacao-do-cliente/?utm_source=landing-page&utm_medium=covid-19" target="_blank">sua equipe</a>, opte por isso. Mantenha as pessoas ligadas a você e cuide para que elas não sejam expostas ao Covid-19.</p>

      <p>Para isso, você pode <strong>reduzir o tempo de trabalho</strong> evitando as idas e vindas e o contato com um grande número de pessoas, ou <strong>dispensar toda equipe</strong> conforme as orientações do Governo do seu Estado, para evitar a disseminação do vírus.</p>

      <p>É no momento de crise que a empresa tem a oportunidade de mostrar ao colaborador o quando ele é importante para ela.</p>

      <p>Todas as pessoas que trabalham com você fazem com que seu negócio funcione e tenha sucesso, e se preocupar com a saúde delas é um ato de reconhecimento e proteção.</p>

      <p>Uma outra opção, nesse caso, seria organizar uma escala de férias ou compensar o tempo em casa por meio de banco de horas, caso haja a quarentena obrigatória na sua localidade.</p>

      <p>Quando a crise passar, você vai precisar de <strong>pessoas boas</strong> ao seu lado para recuperar o tempo perdido.</p>

      <h3 class="mt-4 mb-4">Incentive o trabalho remoto</h3>

      <p>Se a estrutura do seu hotel permitir, incentive que as pessoas trabalhem remotamente, das suas casas.</p>

      <p>Hoje em dia existem sistemas online que facilitam a comunicação com os clientes e entre os colaboradores, a exemplo do <a href="http://blog.hospedin.com/whatsapp-para-hoteis-como-revolucionar-o-atendimento-ao-cliente/?utm_source=landing-page&utm_medium=covid-19" target="_blank">WhatsApp</a>, o Slack e o Zoom para realizar reuniões virtuais.</p>

      <p>Além disso, mantenha seus principais arquivos guardados na nuvem para que as pessoas possam acessar de qualquer lugar e trabalhar normalmente.</p>

      <p>Evitar aglomerações é importante nesse momento.</p>

      <h3 class="mt-4 mb-4">Reforce os cuidados com a higiene e limpeza</h3>

      <p>Caso você tenha que manter as pessoas no hotel, ainda que seja uma equipe reduzida, reforce os cuidados com a higiene e limpeza.</p>

      <p>Basta seguir as orientação do <a href="https://coronavirus.saude.gov.br" target="_blank">Ministério da Saúde</a> e explicar aos colaboradores para que saibam a importância de seguir a risca.</p>

      <h3 class="mt-4 mb-4">Prepare sua equipe para o futuro próximo</h3>

      <p>Crises vão e vem, mas a sua <strong><a href="http://blog.hospedin.com/como-ter-uma-equipe-hoteleira-motivada-e-produtiva/?utm_source=landing-page&utm_medium=covid-19" target="_blank">equipe hoteleira</a></strong> permanece firme e forte no enfrentamento das dificuldades. Portanto, mantenha uma comunicação ativa e transparente sobre a situação do hotel e os prepare para o momento da retomada.</p>

      <p>Além de deixá-los mais tranquilos quanto ao futuro, eles podem dar ideias para vender mais, podem repensar e organizar processos junto com você e podem trocar conhecimentos entre si.</p>

      <p>Um período de baixa demanda é propício para esse tipo de interação que muitas vezes não acontece por falta de tempo ou oportunidade.</p>

      <h2 id="financial" class="mt-5 mb-5">FINANCEIRO</h2>

      <p>Essa é a parte que mais pode sangrar durante um momento de crise. Algumas empresas conseguem passar pela instabilidade financeira sem ter que demitir ou cortar despesas estratégias, que tenham uma <strong>reserva financeira de emergência</strong>.</p>

      <p>Independente da sua situação atual, você pode atuar em algumas frentes:</p>

      <h3 class="mt-4 mb-4">Busque informações com pessoas de confiança</h3>

      <p>A internet é um meio muito interessante para se atualizar, no entanto ela também é cheia de informações erradas e mentirosas.</p>

      <p>Portanto, se você encontrar algo que parece interessante para o seu negócio, busque saber se aquela informação é verdadeira. Converse com outras pessoas e pesquise antes de tomar uma decisão.</p>

      <p>Por exemplo: essa semana o Governo Federal lançou um <strong><a href="https://www1.folha.uol.com.br/mercado/2020/03/veja-as-medidas-do-governo-para-minimizar-os-efeitos-da-crise-do-novo-coronavirus.shtml" target="_blank">pacote de medidas</a></strong> que beneficia financeiramente os pequenos e médios empresários. Elas ainda são medidas, mas vão se tornar lei e passar a valer oficialmente.</p>

      <p>Dentre as medidas que favorecem as empresas tem-se:</p>

      <ul>
        <li>Adiamento do prazo de pagamento do FGTS por três meses;</li>
        <li>Crédito adicional para micro e pequenas empresas por meio do FAT (Fundo de Amparo ao Trabalhador) com juros atrativos;</li>
        <li>Empresas do Simples Nacional poderão adiar o pagamento de tributos federais;</li>
        <li>Redução de 50% nas contribuições compulsórias ao Sistema S por três meses.</li>
      </ul>

      <p>Já as medidas que favorecem os colaboradores são:</p>

      <ul>
        <li>Recursos de Pis/Pasep não sacados irão para o FGTS para possam ser feitos novos saques;</li>
        <li>Antecipação do Abono Salarial para junho.</li>
      </ul>

      <p>Essas são medidas financeiras muito importantes e você pode conversar com seu contador para saber de que forma se beneficiar delas.</p>

      <h3 class="mt-4 mb-4">Analise seu fluxo de caixa</h3>

      <p>O <strong>fluxo de caixa</strong> diz respeito a quantidade de dinheiro você precisa em determinado período para arcar com suas obrigações, ou seja, com as contas a pagar. Às vezes você terá dinheiro para receber a prazo, mas não necessariamente no dia em que precisa desembolsar.</p>

      <p>Isso acaba se agravando em um momento de crise, pois tende a sair mais dinheiro do que vai entrar.</p>

      <p>Desta forma, você precisa aproveitar esse tempo para <strong>analisar seu fluxo de caixa</strong>, verificando quais são as <a href="http://blog.hospedin.com/contabilidade-de-custos/?utm_source=landing-page&utm_medium=covid-19" target="_blank">despesas</a> que podem ser eliminadas e/ou negociadas.</p>

      <p>É preferível negociar do que não pagar suas contas. Portanto, se você já identificou que não conseguirá arcar com determinada despesa, converse com seu fornecedor para negociar, pedindo mais prazo ou refazendo o parcelamento.</p>

      <p>Além disso, confirme o quanto de dinheiro será preciso ter para segurar as pontas simulando alguns cenários. Por exemplo:</p>

      <ul><li><strong>Quanto será preciso ter em caixa para aguentar um mês sem faturar? E se forem dois meses de crise?</strong></li></ul>

      <p>Assim você conseguirá analisar se a sua reserva financeira vai aguentar ou se será necessário buscar outras fontes de recurso durante esse período.</p>

      <p>E não deixe de revisar esse planejamento diariamente, pois a situação atual pode mudar muito rápido.</p>

      <h3 class="mt-4 mb-4">Segure os investimentos</h3>

      <p>Felizmente nós acabamos de sair da <strong>alta temporada</strong> para a maioria dos hoteleiros. E com dinheiro em caixa alguns acabam optando por investir em reformas, revitalizações e melhorias nos seus estabelecimentos. O que é ótimo!</p>

      <p>Mas esse é o momento de frear tudo isso.</p>

      <p>Não faz sentido investir dinheiro nessas questões, sendo que ainda não sabemos qual pode ser o pior cenário dessa crise, por isso, segure os seus investimentos.</p>

      <h3 class="mt-4 mb-4">Comece sua reserva financeira de emergência</h3>

      <p>Não poderíamos deixar esse ponto para trás, já que é a <a href="http://blog.hospedin.com/financas-na-hotelaria/?utm_source=landing-page&utm_medium=covid-19" target="_blank">reserva financeira</a> de emergência que está salvando muitas empresas país a fora.</p>

      <p>Apesar de não ser um hábito, precisamos poupar para o imprevisto. Porque se existe algo de que temos certeza é que um dia o imprevisto vai acontecer, como aconteceu agora.</p>

      <p>Então, esse é o tipo de dinheiro que se deve guardar para ser utilizado somente em extrema necessidade, ou seja, em uma crise como essa.</p>

      <p>A literatura indica que uma empresa saudável deve ter no mínimo 6 meses de faturamento guardados em reserva de emergência, ou seja, em um lugar de alta liquidez onde se possa ter acesso ao dinheiro facilmente. Bens imobilizados não valem nessa conta.</p>

      <p>Sendo assim, se o seu faturamento é de R$ 70.000,00 por mês, você precisará ter por volta de R$ 420.000,00 na sua reserva financeira de emergência. Neste caso, se a receita cair repentinamente o hoteleiro terá tempo para respirar e pensar na melhor solução.</p>

      <p>Contudo, a realidade de muitas empresas brasileiras, nos dias de hoje, é bem diferente. Se as portas não forem abertas não se consegue pagar as contas que continuam a chegar todos os dias.</p>

      <p>E o mais importante, nunca é tarde para começar a sua.</p>

      <h2 id="operational" class="mt-5 mb-5">OPERACIONAL</h2>

      <p>Por mais que as pessoas não estejam saindo de casa e cancelando seus compromissos e viagens, não significa que elas vão deixar de viajar e se interessar pelo assunto.</p>

      <p>Pelo contrário, depois que todo esse momento de tensão passar, tudo que as pessoas vão desejar é pode tirar seus dias de lazer e férias tranquilamente, aproveitando cada momento.</p>

      <p>Por isso, seu operacional não pode parar.</p>

      <p>Vários Governos Estaduais estão decretando quarentena e pedindo que as pessoas não saiam de casa e que os comércios fechem as portas, assim como o meios de hospedagem. Essa é uma medida preventiva e cada local tem feito da maneira que lhe convém, sempre no intuito de frear a disseminação do vírus.</p>

      <p>Mas isso não quer dizer que você precise parar com todas as suas atividades. Veja:</p>

      <h3 class="mt-4 mb-4">Utilize esse momento para olhar para dentro</h3>

      <p>Aproveite para pensar em novas <a href="http://blog.hospedin.com/estrategia-de-canais-de-venda/?utm_source=landing-page&utm_medium=covid-19" target="_blank">estratégias de venda</a>, rever processos internos, organizar a casa e planejar suas ações para um futuro breve.</p>

      <p>O dia a dia do hotel é corrido, tem muitas funções e coisas pra resolver ao mesmo tempo, e com isso fica até difícil parar para pensar na <strong>estratégia do hotel</strong>. Por mais que essa seja uma parada quarentena, pode ser uma oportunidade também. Se beneficie disso.</p>

      <p>Fazer <strong>planejamento estratégico</strong> e <strong><a href="http://blog.hospedin.com/plano-financeiro-de-pousada/?utm_source=landing-page&utm_medium=covid-19" target="_blank">planejamento financeiro</a></strong> são tarefas que demandam tempo e atenção, e por vezes esses documentos tão importantes acabam ficando em segundo plano devido às outras demandas hoteleiras.</p>

      <p>Que tal colocar a mão na massa agora?</p>

      <h3 class="mt-4 mb-4">Reveja processos internos</h3>

      <p>Sabe aqueles processos que a gente quer melhorar mas acaba não fazendo por falta de tempo? Essa é a hora. Que tal fazer um overview de como está seu processo de check-in-check-out?</p>

      <p>Além disso, quando o hóspede voltar a frequentar o seu meio de hospedagem ele já não será o mesmo. Ele vai ter um olhar diferente sobre os cuidados, higiene e saúde. Ele vai continuar reticente.</p>

      <p>Utilize esse tempo, que pode parece ser ocioso, para redesenhar a sua empresa.</p>

      <h3 class="mt-4 mb-4">Incentive o aperfeiçoamento</h3>

      <p>Eis uma outra questão que acaba ficando em stand by no dia a dia hoteleiro: <strong><a href="http://blog.hospedin.com/por-que-dar-treinamento-aos-funcionarios-do-seu-hotel/?utm_source=landing-page&utm_medium=covid-19" target="_blank">treinar</a> e aperfeiçoar sua equipe</strong>.</p>

      <p>Felizmente, hoje em dia, a internet tem uma infinidade de cursos gratuitos e materiais online. Neste caso, a pessoa pode estudar de casa no período de quarentena ou até mesmo do hotel se esse for o caso.</p>

      <p>Quando toda essa crise passar teremos equipes mais preparadas do que já são.</p>

      <p>Separamos alguns sites bacanas para <strong>estudar gratuitamente</strong>. Veja:</p>

      <ul>
      <li><a href="https://www.udemy.com" target="_blank">Udemy</a></li>
      <li><a href="https://www.coursera.org" target="_blank">Coursera</a></li>
      <li><a href="https://www.linkedin.com/learning/paths/trabalho-remoto-colaboracao-foco-e-produtividade" target="_blank">LinkedIn</a></li>
      <li><a href="http://blog.hospedin.com/" target="_blank">Hospedin</a></li>
      <li><a href="http://www.eadsenai.com.br/virtual/ms/" target="_blank">SENAI</a></li>
      </ul>

      <h2 id="marketing" class="mt-5 mb-5">MARKETING</h2>

      <p>Assim como o operacional não pode parar, seu marketing também não.</p>

      <p>Não desanime na comunicação com o seu hóspede durante um tempo de crise, porque essa é, na verdade, uma <strong>oportunidade</strong>. Se as pessoas estão em casa, elas continuam pesquisando sobre viagem, lendo e se informando.</p>

      <p>Esteja por lá conversando com elas por meio do marketing digital, principalmente. Essa é uma forma acessível e barata de seguir fortalecendo a sua marca e seu posicionamento no mercado.</p>

      <h3 class="mt-4 mb-4">Não pare suas ações de marketing digital</h3>

      <p>Se você conseguir, não demita seus funcionários ou pare de trabalhar o marketing digital. Quando esse momento difícil passar você precisa estar pronto para recuperar o tempo perdido e trazer mais hóspedes para o hotel. As pessoas vão voltar a viajar, isso é um fato.</p>

      <p>O marketing digital tem custo baixo e com ele você continua mantendo a conexão com as pessoas, sem cair no esquecimento.</p>

      <p>Aproveite para fazer seu <strong>planejamento de <a href="http://blog.hospedin.com/marketing-e-vendas-na-hotelaria/?utm_source=landing-page&utm_medium=covid-19" target="_blank">marketing e vendas</a></strong> e vá colocando em prática conforme o movimento do mercado. Quando essa crise passar, os hoteleiros que estiverem organizados e preparados vão largar na frente.</p>

      <p>Deixe suas campanhas prontas para o momento de retomada.</p>

      <h2 id="support" class="mt-5 mb-5">APOIO</h2>

      <p>Por último e não menos importante, lembre-se do seu time de apoio.</p>

      <p>Talvez poucas pessoas se recordem que ele existe, mas o <strong>associativismo</strong> pode ser um ponto importante para se vencer uma crise.</p>

      <p>Se você quer sair do lugar, vá sozinho. Mas se quiser ir longe, vá acompanhado.</p>

      <h3 class="mt-4 mb-4">Associe-se</h3>

      <p>Muitos hoteleiros estão passando pela mesma situação e a ajuda mútua motiva e fortalece o mercado. Então, interaja nos grupos de WhatsApp das associações da sua região, troque ideias, peça opiniões e observe o que os outros hoteleiros estão fazendo.</p>

      <p>Quando várias cabeças pensam juntas, muita coisa boa pode sair dali.</p>

      <hr class="mt-5 mb-5"/>

      <p>E é desta forma que nos encontramos hoje, nos prevenindo e evitando que aconteça no Brasil o que está acontecendo na Europa.</p>

      <p>A boa notícia é que essa crise vai passar, assim como outras que já passaram.</p>

      <p>Só precisamos aguentar mais algum tempo e com os cuidados que todos estamos tomando a situação tende a ficar controlada por aqui.</p>

      <p>Acima de tudo, este é o momento de <strong>zelar pela nossa saúde</strong> e pelas saúde das pessoas que amamos. Se estivermos doentes de pouco adiantará ter um negócio de sucesso.</p>

      <p>Uma empresa existe para nos promover qualidade de vida, assim como para todas as pessoas que trabalham conosco.</p>

      <p>Por trás de toda crise, existem milhares de corações.</p>
    </div>
  </div>
</div>
